@model IEnumerable<Item> 

@{
    ViewData["Title"] = "Index";
}

<div class="card-buttons-group">
    <div class="text-end">
        <a asp-controller="Collection" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Add new collection
        </a>
    </div>
</div>
