@model Tag

<form method="post" asp-action="Delete">
	<input asp-for="TagId" hidden />
	<div class="row">
        <div class="col-md-5 offset-4">
			<h2 class="text-primary">Delete Tag</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="col-md-5 offset-4">
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>
		<div class="col-md-5 offset-4">
		    <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		    <a asp-controller="Tags" asp-action="Index" class="btn btn-secondary" style="width:150px">
		    	Back to List
		    </a>
		</div>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}