@model Item
@using CourseProject.DataContext.Repositories
@using Microsoft.EntityFrameworkCore
@inject IUnitOfWork _unitOfWork

<form method="post" asp-action="Edit">
	<input asp-for="ItemId" hidden />
	<div class="row">
        <div class="col-md-5 offset-4">
			<h2 class="text-primary">Edit Item</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="col-md-5 offset-4">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="col-md-5 offset-4">
			<label asp-for="Tags"></label>
            <select asp-for="Tags" class="form-select" multiple>
				@foreach(var collections in await _unitOfWork.Collections.GetCollectionForParticularItem(Model))
				{
					@foreach(var tags in collections.Tags)
					{
						<option value="@tags.Name">@tags.Name</option>
					}
				}
		    </select>
			<span asp-validation-for="Tags" class="text-danger"></span>
		</div>
		<div class="col-md-5 offset-4">
		<button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
		<a asp-controller="Collections" asp-action="Get" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}